.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34be; /* Semi-transparent background */
  min-height: 50vh; /* Reduced height to make the header smaller */
  width: 100%; /* Ensure the header spans the full width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1; /* Ensure the header appears above the video */
  position: relative; /* Needed for z-index to take effect */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-nav {
  background-color: #333333; /* Dark background color */
  padding: 10px 20px; /* Some padding around the items */
  display: flex; /* Use flexbox for layout */
  justify-content: start; /* Align items to the start of the nav bar */
}

.App-nav button {
  background-color: #61dafb; /* Button color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding inside the button */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-right: 10px; /* Margin between buttons if you add more */
  border-radius: 20px;
}

.App-nav button:hover {
  background-color: #519aba; /* Slightly darker on hover */
}
.about-us-container {
  min-height: 100vh;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top:100px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #94b9ffdd;
}

.about-us-title {
  color:  #8e2e2e;
  margin-bottom: 10px;
  padding-bottom: 100px;
}

.about-us-content {
  color: #da1515;
  padding-left:1000px;
}

.App-background-video {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  Width: 100%;
  Height: 100%;
  object-fit: fill;
  z-index: -1; /* Ensure video stays in the background */
}
